/* Styles to make the iframe take the full viewport */
#vfchatframe {
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    border: none; /* Remove any border */
    z-index: 1000; /* Ensuring it's above all other content */
}

/* Assuming .vf-chat-container is the main container class of the chat widget inside the iframe */
.vf-chat-container {
    width: 100%;
    height: 100%;
}
